---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ModelCard from "../components/ModelCard.astro";
import YouTubeCard from "../components/YouTubeCard.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <header
        class="bg-gradient-to-r from-purple-500 via-blue-500 to-green-500 py-10"
      >
        <div
          class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-w-screen-lg"
        >
          <h1
            class="text-white text-4xl md:text-5xl font-bold tracking-tighter"
          >
            Discover HandModels.com!
          </h1>
          <p class="text-white mt-4 text-lg">
            {SITE_DESCRIPTION}
          </p>
        </div>
      </header>
      <div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-w-screen-lg">
        <h2>Talent</h2>
        <!-- Models -->
        <div class="grid gap-10 lg:gap-10 md:grid-cols-2">
          <div class="cursor-pointer group">
            <div
              class="relative overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800 hover:scale-105 aspect-video"
            >
              <ModelCard
                img="//handmodels.com/wp-content/uploads/2022/08/image-20.png"
                name="Adele Uddo"
                website={{
                  href: "http://adeleuddo.com/",
                  text: "adeleuddo.com",
                }}
              >
                <p class="mb-2">
                  Adele Uddo is a parts model who promotes businesses and
                  doubles for celebrities in the United States. Uddo grew raised
                  in a commune in California. She dropped out of school to seek
                  a career as a model...
                </p>
              </ModelCard>
            </div>
          </div>

          <div class="cursor-pointer group">
            <div
              class="relative overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800 hover:scale-105 aspect-video"
            >
              <ModelCard
                img="//handmodels.com/wp-content/uploads/2022/08/1.jpg"
                name="Paul B"
                website={{
                  href: "https://handmodel.co.uk",
                  text: "handmodel.co.uk",
                }}
              >
                <p class="mb-2">
                  Paul B started his modelling career as a commercial model,
                  appearing in adverts for brands like Right Guard and now he is
                  one of the most successful male hand models in the world.
                </p>
                <p class="mb-2">
                  His one-in-a-million hands have been featured in ads for De
                  Beers, Haig Club, Sprite, Breitling, KFC, McDonald's, Nivea
                  and Cartier.
                </p>
                <p class="mb-2">
                  Paul B Portfolio of high-class brands under his belt gives him
                  the reputation of a No1 hand throb.
                </p>
              </ModelCard>
            </div>
          </div>
        </div>

        <!-- Articles -->
        <h2 class="mt-10">Articles</h2>
        <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
          <div class="cursor-pointer group">
            <div
              class="relative overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800 hover:scale-105 aspect-square"
            >
              <a
                href="/post/14-architectural-design-ideas-for-spacious-interior"
                ><span
                  style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px none; margin: 0px; padding: 0px; position: absolute; inset: 0px;"
                  ><img
                    alt="Thumbnail"
                    src="https://cdn.sanity.io/images/cijrdavx/production/12301f301772ed723724302aef7c70c5c1c0151f-4500x8000.jpg?rect=0,1080,4500,5330&w=3840&q=75&fit=clip&auto=format"
                    decoding="async"
                    data-nimg="fill"
                    class="transition-all"
                    style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"
                    sizes="80vw"
                    srcset="https://cdn.sanity.io/images/cijrdavx/production/12301f301772ed723724302aef7c70c5c1c0151f-4500x8000.jpg?rect=0,1080,4500,5330&w=640&q=75&fit=clip&auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/12301f301772ed723724302aef7c70c5c1c0151f-4500x8000.jpg?rect=0,1080,4500,5330&w=750&q=75&fit=clip&auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/12301f301772ed723724302aef7c70c5c1c0151f-4500x8000.jpg?rect=0,1080,4500,5330&w=828&q=75&fit=clip&auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/12301f301772ed723724302aef7c70c5c1c0151f-4500x8000.jpg?rect=0,1080,4500,5330&w=1080&q=75&fit=clip&auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/12301f301772ed723724302aef7c70c5c1c0151f-4500x8000.jpg?rect=0,1080,4500,5330&w=1200&q=75&fit=clip&auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/12301f301772ed723724302aef7c70c5c1c0151f-4500x8000.jpg?rect=0,1080,4500,5330&w=1920&q=75&fit=clip&auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/12301f301772ed723724302aef7c70c5c1c0151f-4500x8000.jpg?rect=0,1080,4500,5330&w=2048&q=75&fit=clip&auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/12301f301772ed723724302aef7c70c5c1c0151f-4500x8000.jpg?rect=0,1080,4500,5330&w=3840&q=75&fit=clip&auto=format 3840w"
                  /><noscript></noscript></span
                ></a
              >
            </div><div class="flex gap-3">
              <a href="/#"
                ><span
                  class="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-blue-600"
                  >Design</span
                ></a
              ><a href="/#"
                ><span
                  class="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-purple-600"
                  >Lifestyle</span
                ></a
              >
            </div><h2
              class="mt-2 text-lg font-semibold tracking-normal text-brand-primary dark:text-black"
            >
              <span
                class="bg-gradient-to-r from-green-200 to-green-100 dark:from-purple-800 dark:to-purple-900 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]"
                >14 Architectural Design Ideas for a Spacious Interior</span
              >
            </h2><div class="hidden">
              <p
                class="mt-2 text-sm text-gray-500 dark:text-gray-400 line-clamp-3"
              >
                <a
                  href="/post/14-architectural-design-ideas-for-spacious-interior"
                  >It is a cliche philosophical question, but it touches on
                  something fundamental about how humans relate to the world
                  around them.
                </a>
              </p>
            </div><div
              class="flex items-center mt-3 space-x-3 text-gray-500 dark:text-gray-400"
            >
              <div class="flex items-center gap-3">
                <div class="relative flex-shrink-0 w-5 h-5">
                  <span
                    style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px none; margin: 0px; padding: 0px; position: absolute; inset: 0px;"
                    ><img
                      alt="Mario Sanchez"
                      src="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&q=75&fit=clip&auto=format"
                      decoding="async"
                      data-nimg="fill"
                      class="rounded-full"
                      style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"
                      sizes="30px"
                      srcset="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=16&q=75&fit=clip&auto=format 16w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=32&q=75&fit=clip&auto=format 32w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=48&q=75&fit=clip&auto=format 48w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=64&q=75&fit=clip&auto=format 64w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=96&q=75&fit=clip&auto=format 96w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=128&q=75&fit=clip&auto=format 128w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=256&q=75&fit=clip&auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=384&q=75&fit=clip&auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=640&q=75&fit=clip&auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=750&q=75&fit=clip&auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=828&q=75&fit=clip&auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1080&q=75&fit=clip&auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1200&q=75&fit=clip&auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1920&q=75&fit=clip&auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=2048&q=75&fit=clip&auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&q=75&fit=clip&auto=format 3840w"
                    /><noscript></noscript></span
                  >
                </div><span class="text-sm">Mario Sanchez</span>
              </div><span class="text-xs text-gray-300 dark:text-gray-600"
                >•</span
              ><time class="text-sm" datetime="2022-10-21T06:05:00.000Z"
                >October 21, 2022</time
              >
            </div>
          </div>
          <div class="cursor-pointer group">
            <div
              class="relative overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800 hover:scale-105 aspect-square"
            >
              <a
                href="/post/every-next-level-of-your-life-will-demand-a-different-you"
                ><span
                  style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px none; margin: 0px; padding: 0px; position: absolute; inset: 0px;"
                  ><img
                    alt="Thumbnail"
                    src="https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=3840&q=75&fit=clip&auto=format"
                    decoding="async"
                    data-nimg="fill"
                    class="transition-all"
                    style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"
                    sizes="80vw"
                    srcset="https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=640&q=75&fit=clip&auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=750&q=75&fit=clip&auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=828&q=75&fit=clip&auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=1080&q=75&fit=clip&auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=1200&q=75&fit=clip&auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=1920&q=75&fit=clip&auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=2048&q=75&fit=clip&auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/2786bf808843b56a0e0feda1c1747cf73673d989-3648x5472.jpg?w=3840&q=75&fit=clip&auto=format 3840w"
                  /><noscript></noscript></span
                ></a
              >
            </div><div class="flex gap-3">
              <a href="/#"
                ><span
                  class="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-purple-600"
                  >Lifestyle</span
                ></a
              ><a href="/#"
                ><span
                  class="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-emerald-700"
                  >Personal Growth</span
                ></a
              >
            </div><h2
              class="mt-2 text-lg font-semibold tracking-normal text-brand-primary dark:text-black"
            >
              <span
                class="bg-gradient-to-r from-green-200 to-green-100 dark:from-purple-800 dark:to-purple-900 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]"
                >Every Next Level of Your Life Will Demand a Different You</span
              >
            </h2><div class="hidden">
              <p
                class="mt-2 text-sm text-gray-500 dark:text-gray-400 line-clamp-3"
              >
                <a
                  href="/post/every-next-level-of-your-life-will-demand-a-different-you"
                  >That was so fun! I’ve got a new addiction! my athlete friend
                  exclaimed, tired but happy in the car on the way home. “Let’s
                  do it again tomorrow.”</a
                >
              </p>
            </div><div
              class="flex items-center mt-3 space-x-3 text-gray-500 dark:text-gray-400"
            >
              <div class="flex items-center gap-3">
                <div class="relative flex-shrink-0 w-5 h-5">
                  <span
                    style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px none; margin: 0px; padding: 0px; position: absolute; inset: 0px;"
                    ><img
                      alt="Mario Sanchez"
                      src="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&q=75&fit=clip&auto=format"
                      decoding="async"
                      data-nimg="fill"
                      class="rounded-full"
                      style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"
                      sizes="30px"
                      srcset="https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=16&q=75&fit=clip&auto=format 16w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=32&q=75&fit=clip&auto=format 32w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=48&q=75&fit=clip&auto=format 48w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=64&q=75&fit=clip&auto=format 64w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=96&q=75&fit=clip&auto=format 96w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=128&q=75&fit=clip&auto=format 128w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=256&q=75&fit=clip&auto=format 256w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=384&q=75&fit=clip&auto=format 384w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=640&q=75&fit=clip&auto=format 640w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=750&q=75&fit=clip&auto=format 750w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=828&q=75&fit=clip&auto=format 828w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1080&q=75&fit=clip&auto=format 1080w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1200&q=75&fit=clip&auto=format 1200w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=1920&q=75&fit=clip&auto=format 1920w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=2048&q=75&fit=clip&auto=format 2048w, https://cdn.sanity.io/images/cijrdavx/production/4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg?w=3840&q=75&fit=clip&auto=format 3840w"
                    /><noscript></noscript></span
                  >
                </div><span class="text-sm">Mario Sanchez</span>
              </div><span class="text-xs text-gray-300 dark:text-gray-600"
                >•</span
              ><time class="text-sm" datetime="2022-10-20T12:28:00.000Z"
                >October 20, 2022</time
              >
            </div>
          </div>
        </div>

        <!-- Videos -->
        <h2 class="mt-10">Hand Model Videos</h2>

        <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
          <YouTubeCard />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
