---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href } = Astro.props;
---

<a
  class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500"
  href={href}
>
  <slot />
</a>
