---
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<div class="cursor-pointer group">
  <div
    class="relative overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800 hover:scale-105 aspect-square"
  >
    <YouTube id="EUvgqItrt1c" />
  </div>
</div>
